<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Author</title>
  <style>
    body{
      background-color: lightpink;
    }
    h1{
      text-align: center;
    }
    .container{
      width: 40%;
      margin: auto;
      display: flex;
      justify-content: space-around;
    }
    button{
      width:75px;
      height: 75px;
      border: 2px solid darkred;
      border-radius: 12px;
    }


  </style>
</head>
<body>
<h1>Add Author</h1>
<form th:action="@{/authors/add}" method="post" th:object="${author}">
  <div class="container">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
  </div><br>

  <div class="container">
    <button type="submit">Add</button>
  </div>

</form>
</body>
</html>
